.like {
  margin: 5rem 0;

  text-align: center;
  .container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    padding: 2rem 1rem;
    .content {
      background-color: var(--accent-color2);
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem;
      border-radius: 2rem;
      .image {
        align-items: center;
        text-align: center;
      }
      .title {
        color: var(--accent-color1);
      }
      .description {
        color: var(--accent-color3);
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
      }
    }
  }
  .button-sup {
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;
    justify-items: center;
    margin-top: 5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--accent-color3);
    gap: 2rem;

    button {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;

      color: var(--accent-color1);
      background-color: var(--background);
      font-weight: bold;
      padding: 1rem 3rem;
      border-radius: 2rem;
      box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
      border: solid 3px transparent;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, var(--pink), var(--orange));
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px var(--background) inset;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1400px) {
  .like {
    margin: 2rem 0;
    padding: 1rem 1rem;

    .container-2 {
      grid-template-columns: 1fr;
      gap: 0;
      .content {
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        margin-top: 2rem;

        &:nth-of-type(2) {
          background-color: var(--accent-color2);
        }
        .image {
          zoom: 0.7;
        }
        .image2 {
          zoom: 0.4;
          display: flex;
          flex-direction: column;

          align-items: center;
          text-align: center;
        }
        .title {
          color: var(--accent-color1);
          text-align: center;
          align-items: center;
        }
        .description {
          color: var(--accent-color3);
          letter-spacing: 0.1rem;
          line-height: 1rem;
          text-align: center;
          align-items: center;
        }
      }
    }
  }
}
